<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @publication.title %></h3>
  </div>
  <div class="panel-body">
    <p><%= @publication.description %></p>
    <p><a href="<%= @publication.file_url %>">Listen Now</a></p>
    <p><%=link_to "Back to Admin Index", admin_publications_path%></p>
  </div>
</div>
